* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #d48f38;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}
